/* ////////////////////////////////////////////////////////// */


/*                    TABLE OF CONTENTS

    1. Custom Properties
    2. Global Styles
    3. Utillities
    4. Components
    5. Layout
        5.1. Common

*/


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* -------------------- || 1. CUSTOM PROPERTIES --------------------*/

:root {
    /* ----------- Typography ----------- */
    --ff-primary: font-family: 'Epilogue', sans-serif;
    /* Sizes */
    --fs-body: 16px;
    --fs-hero-heading: 38px;
    --fs-testimonial-heading: 40px;
    --fs-cta-secondary: 14px;
    /* Weights */
    --fw-regular: 400;
    --fw-bold: 700;
    /* ----------- Colors ----------- */
    --clr-dark-blue: hsla(219, 42%, 16%, 1);
    --clr-grey: hsla(219, 20%, 36%, 1);
    --clr-cream: hsla(30, 35%, 93%, 1);
    --clr-cream-white: hsla(30, 29%, 97%, 1);
    --clr-lavender-indigo: hsla(264, 100%, 69%, 1);
    --clr-steel-pink: hsla(292, 76%, 54%, 1);
    --clr-pastel-orange: hsla(31, 100%, 65%, 1);
    --clr-primary: var(--clr-dark-blue);
    --clr-secondary: var(--clr-cream-white);
    --clr-secondary-dark: var(--clr-cream);
    --gradient-accent: linear-gradient(135deg, var(--clr-lavender-indigo) 0%, var(--clr-steel-pink) 49.21%, var(--clr-pastel-orange) 100%);
    /* ----------- Dimensions ----------- */
    --site-content-width: 1110px;
    --site-horizontal-spacing: 16px;
}

@media only screen and (min-width: 768px) {
     :root {
        /* ----------- Typography ----------- */
        --fs-hero-heading: 56px;
        --fs-cta-secondary: 16px;
        /* ----------- Dimensions ----------- */
        --site-horizontal-spacing: 39px;
    }
}

@media only screen and (min-width: 1110px) {
     :root {
        --fs-body: 18px;
        --fs-hero-heading: 72px;
        --fs-testimonial-heading: 48px;
    }
}


/* -------------------- || 2. GLOBAL STYLES --------------------*/

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.75;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}


/* -------------------- || 3. UTILLITIES --------------------*/


/* -------------------- || 4. COMPONENTS --------------------*/


/* -------------------- || 5. LAYOUT --------------------*/


/* ----------- 5.1. Common ----------- */

.container {
    max-width: calc(var(--site-content-width) + (var(--site-horizontal-spacing) * 2));
    margin: 0 auto;
    padding: 0 var(--site-horizontal-spacing);
}